*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.cont{
    padding: 25px 0;
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px 0px 3px 0 var(--about-shadow);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.cont:hover{
    box-shadow: inset -12px -12px 14px 0 var(--about-shadow), inset 12px 12px 14px 0 var(--about-shadow);
    border-radius: 20px;
}

.dots{
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 70px;
}

.cont .error{
    color: #F00;
}

.cont .success{
    color: #0F0;
}

span.error-dot {
    background-color: #F00;
}
span.success-dot{
    background-color: #0F0;
}

span{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    animation: anim 1s infinite alternate;
}

span:nth-child(1){
    animation-delay: .2s;
}
span:nth-child(2){
    animation-delay: .4s;
}
span:nth-child(3){
    animation-delay: .6s;
}
span:nth-child(4){
    animation-delay: .8s;
}


@keyframes anim {

    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(.8);
    }
}
