
.main_heading{
    text-align: center;
    margin-top: 100px;
}


.download-container{
    display: flex;
    width: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

.download{
    height: 70vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 12px 12px 14px 0 var(--about-shadow);
    transition: all .5s ease-in-out;
}

.download:hover{
    box-shadow: 0px 0px 3px 0 var(--about-shadow);
}

.upload{
    box-shadow: -12px 12px 14px 0 var(--about-shadow);   
}

.download .leftside{
    width: 50%;
    height: 90%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid var(--about-shadow);
}

.download .leftside p{
    margin-top: 35px;
    text-transform: capitalize;
    font-size: 18px;
}

.download .rightside{
    width: 50%;
    height: 90%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.download .rightside h2{
    text-align: center;
}

.download .rightside form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.download .rightside form .input{
    margin: 15px 0;
    text-transform: none;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--circle-color);
    padding: 0 20px;
    color: var(--primary-color);
}

.download .rightside form .file{
    padding-top: 10px;
}

.download .rightside form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input::-webkit-calendar-picker-indicator {
    display: none;
  }

.download .rightside form placeholder{
    color: var(--primary-color);
}

.download .rightside form .type{
    cursor: pointer;
}

.download .rightside form .error{
    color: #F00;
    text-align: center;
    text-transform: none;
}

.download .rightside form .success{
    color: #0F0;
    text-align: center;
    text-transform: none;
}

.download .rightside form .btn{
    margin-top: 15px;
    width: 50%;
    height: 40px;
    color: #f1f1f1;
    background-color: var(--btn-color);
    border: 2px solid var(--btn-color);
    cursor: pointer;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.download .rightside form .btn:hover{
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--btn-color);
}





@media screen and (max-width: 1200px) {
    .download{
        flex-direction: column;
        width: 80%;
        height: 50%;
    }
    .main_heading{
        margin-top: 130px;
    }
    .download .leftside{
        border: none;
        border-bottom: 1px solid var(--about-shadow);
    }

    .download .leftside, .download .rightside{
        width: 95%;
        height: 50%;
    }
    .download .rightside form{
        align-items: center;
    }
    .download .rightside form .btn{
        width: 40%;
    }
}

@media screen and (max-width: 680px) {
    .download .rightside form .btn{
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .main_heading{
        font-size: 20px;
        margin-top: 100px;
    }
    .download .leftside p{
        font-size: 13px;
    }
    .download .leftside h2, .download .rightside h2{
        font-size: 18px;
    }
    .download .rightside form .btn{
        width: 90%;
    }
}