
:root{
    --primary-color: #222;
    --btn-color: rgb(130, 0, 190);
    --background-color: #F1F1F1;
    --about-shadow: rgba(0, 0, 0, .25);
}

.dark-theme{
    --primary-color: #F1f1f1;
    --background-color: #000;
    --about-shadow: rgba(70, 70, 70, 0.5);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    color: var(--primary-color);
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: var(--background-color);
}

/* THEME CHANGER BUTTON */

.mode{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 40px;
    width: 40px;
    background: var(--btn-color);
    border-radius: 50%;
    box-shadow: 0 5px 3px #222;
    z-index: 10000;
  }
  
  .mode img{
    cursor: pointer;
    width: 20px;
  }

.divider{
    display: flex;
}


/* NAVBAR */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100vh;
    flex: 1;
    background-color: #222;
}

#nav-toggle{
    position: absolute;
    top: -10vh;
}

.nav-lines {
    flex: 1;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
}
.nav-line {
    background-color: var(--background-color);
    background-color: steelblue;
    margin: 5px 5px;
    height: 4px;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}

.nav-line:nth-child(1){
    width: 33px;
}
.nav-line:nth-child(2){
    width: 20px;
}
.nav-line:nth-child(3){
    width: 10px;
}

header :checked ~ .nav-links{
    bottom: 0;
}

header :checked ~ .nav-lines .nav-line{
    width: 33px;
    background-color: seagreen;
}

.nav{
    display: flex;
    flex-direction: column;
    flex: 10;
    justify-content: space-around;
}

.nav-link{
    color: #F1F1F1;
    padding: 15px 20px;
    display: block;
    transition: all .5s ease-in-out;
}

.nav-link:hover{
    background-color: rgba(94, 92, 92, 0.5);
    border-radius: 5px;
    color: seagreen;
}



/* CONTENT */

.content{
    flex: 4;
}

.top-bar{
    height: 20vh;
    display: flex;
    padding: 20px;
    border-bottom: 2px solid var(--btn-color);

}

.heading{
    flex: 3;
    border-right: 3px solid var(--primary-color);
}

.heading h1{
    font-size: 50px;
    text-align: center;
}
.heading h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.welcome{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome h2{
    text-align: center;
}

.content-box{
    max-height: 80vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row{
    display: flex;
    justify-content: space-around;
}

.col{
    width: 15em;
    height: 10em;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    box-shadow: 12px 12px 14px 0 var(--about-shadow);
    transition: all .5s ease-in-out;
}

.col:hover{
    box-shadow: 0 0 3px 0 var(--about-shadow);
    border-radius: 5px;
}

.col .fas{
    transition: all .5s ease-in-out;
}

.col:hover .fas{
    transform: rotate(360deg);
}



/* TABLES */

.table{
    width: 90%; 
    height: 100%;
    margin: auto;
    padding: 40px;
}

table{
    margin: auto;
    /* border: 2px solid black; */
    border-collapse: collapse;
}

th, td{
    padding: 12px 23px;
}

tbody tr{
    border-bottom: 1px solid var(--about-shadow);
    transition: all .5s ease-in-out;
    color: #222;
}

tbody tr:hover{
    background-color: rgba(93, 158, 91, 0.3);
}

thead{
    background-color: rgba(55, 140, 143, 0.4);
}

.delete{
    text-decoration: none;
    background-color: rgb(130, 0, 190);
    color: #f1f1f1;
    padding: 10px 30px;
    border: 2px solid rgb(130, 0, 190);
    transition: all .5s;
}
  
.delete:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid rgb(130, 0, 190);
  }